body {
    width: 100%;
    background: rgb(0, 0, 0);
    
}

footer {
    background-color: #00000057;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 20px;
}

.footer {
    padding-top: 10px;
    font-family: Allerta Stencil;
    background: url("../images/blueplasma.gif");
    background-size: 100%;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
}

h2 {
    font-family: Righteous;
    background: url("../images/plasma2.gif");
    background-position: center;
    background-size: 20%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
}

h2 {
    font-size: 50px;
}

#caption {
    font-size: 25px;
}

h3 {
    font-size: 30px;
    padding: 20px;
    letter-spacing: 15px;
}

h4 {
    padding: 10px;
}

.scores {
    font-size: 25px;
    font-family: Poiret One;
    color: #ffffff;
    text-shadow: 0 0 4px #ff0055, -4px 0 3px #e100ff7e, 4px 0 3px #ff9900;
}

#W, #G, h3, #caption {
    font-family: Righteous;
    color: #ffffff;
    background: url("../images/explosion.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 15px;
}

#ord, #uess {
    font-family: Righteous;
    color: white;
    background: url("../images/plasma.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 2px; 
}

.hidden {
    background-color: red;
}

.container {
    background-color: rgba(255, 255, 255, 0.514);
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 0 0 8px #ffffff;
    border-radius: 15px;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
}

#wins, #losses, #gremain, #lguessed {
    border: solid rgba(0, 0, 0, 0.404) 1px;
    border-radius: 5px;
    box-shadow: 0 0 4px #00000075;
    padding-left: 8px;
    padding-right:8px;
    background-color: rgba(255, 255, 255, 0.404); 
    
}

.wallpaper {
    background-image: url("../images/spaceWP.jpg");
    background-size: 100%;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imageboard {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

#image {
    width: 100%;
    max-width: 700px; 
    height: 200px; 
    object-fit: cover;
    box-shadow: 0 2px 3px #000000;
    border-radius: 6px;
    outline: 1px solid #ffffff67;
    outline-offset: -4px;
}

